footer {
  background-color: #f5f5f5;
  margin-top: 50px;
  text-align: left;
  padding-right: 10px;
  padding-left: 10px;
}

.py-5 {
  padding-bottom: 0rem !important;
}

#div-footer,
#subscribe {
  padding-left: 30px;
}

#subscribe .btn {
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  opacity: 0.7;
  border-radius: 0;
}

#subscribe .btn:hover {
  opacity: 1;
}

#subscribe {
  margin-right: 20px;
}
