#message-prompt {
  display: flex;
  justify-content: center;
  align-items: center;
}

#message-prompt .modal-content {
  width: auto;
  border-radius: 0;
}

#confirmation-prompt .modal-content {
  border-radius: 0;
}

#reto-btn {
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  opacity: 0.7;
  border-radius: 0;
}

#reto-btn:hover {
  opacity: 1;
}
