#reto-card {
  margin-top: 30px;
  height: 550px;
}

#reto-card .card-img-top {
  height: 240px;
  width: auto;
}

#cards {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
